[submodule "tufao"]
	path = tufao
	url = https://github.com/kdeyev/tufao.git
[submodule "QJsonChannelCore"]
	path = QJsonChannelCore
	url = https://github.com/kdeyev/QJsonChannelCore.git
[submodule "rpcWebChannel"]
	path = rpcWebChannel
	url = https://github.com/kdeyev/rpcWebChannel.git
